body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container{
    border: none;
    height: 600px;
    width: 600px;
    display: grid; 

}
h2{
    text-align: center;
    margin-top: 36px;
}
#cont-button{
    margin-bottom: 36px;
}
div{
    margin: 0;
    padding: 0;
    border: none;
    outline: 1px solid #000;
}
.size-value{
    margin-top: 36px;
    width: 100%;
}

.size-Slider{
    -webkit-appearance: none;
    background: #fcf3cf;
    width: 50%;
    height: 20px;
    opacity: 2;
}
.size-Slider:hover{
    opacity: 1;
}
